
<header>
  <div id="navbar">
    <nav>
      <div class="logo">
        <a href="/"
          ><img
            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fk_logo_plus_mobile-f60446.svg"
            alt="flipkart brand image"
        /></a>
      </div>
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for Products, Brands and More" />
      </div>
      <div class="nav-right">
        <div class="profile">
          <i class="fa-regular fa-user user-icon"></i>
          <span>
            <p>ravi</p>
            <i class="fa-solid fa-angle-down"></i>
          </span>
        </div>
        <div class="cart">
          <a href="/">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Cart</p>
          </a>
        </div>
        <div class="seller">
          <a href="/">
            <i class="fa-solid fa-gift"></i>
            <p>Become a Seller</p>
          </a>
        </div>
        <div class="dot-icon">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
    </nav>
  </div>
</header>
